/*Marcus Adonis*/

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: #4766B8;
    margin: 0;
	padding: 0; }

#page {
	width: 710px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 15px; }

#banner {
    margin-bottom: 1em;
	height: 70px }

#navigation {
	margin-top: 1em;
	height: 45px;
	background-color: white; }
	
#sidebar {
	width: 150px;
	height: 370px;
	background-color: white;
	margin-bottom: .7em;
	float: left; }

.copyright {
    font-size: 90%;
    text-align: right; 
	margin: 0; }
	
/* the styles for the table*/
#main{
	display: flex;
}

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; }

td, th {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%; }	
	
.alignRight {
	text-align: right; }

.sidebar{
    background-image: url(https://itz-marcus.github.io/Swegga-proj/swegga.jpg);
	width: 150px;
	height: 350px;
	background-size: cover;	
	
}

.banner{
	background-image: url(https://itz-marcus.github.io/Swegga-proj/delivery.gif);
	width: 300px;
	height: 85px;
	background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
	
	
}

.navigation{
	background-image: url(https://itz-marcus.github.io/Swegga-proj/links.gif); 
	width: 560px;
	height: 56px;
	object-fit: fill;
	background-repeat: no-repeat;
	
}
h4{
	color: #4766B8; 
}

.footer{
	margin-top: 0.5em;
	border-top: 2px;
	border-color: solid grey ;
	padding: 0.7em;
	display: flex;
	justify-content: flex-end;
}